
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');


body{
    height: 100%;
    background: linear-gradient(to top, rgb(50, 1, 50), rgb(54, 35, 85));
    background: -webkit-linear-gradient(to top, rgb(50, 1, 50), rgb(54, 35, 85));
    background: -moz-linear-gradient(to top, rgb(50, 1, 50), rgb(54, 35, 85));
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: 'Oswald';
}
html{
    height: 100%;
}
.container{
    border:rgb(125, 125, 125) 5px solid;
    margin-top: 2vh;
    border-radius: 3vh;
    background-color: rgb(64, 64, 64);
    width: 30vh;
    max-width: 80vw;
    height: 90vh;
    box-shadow:rgb(0, 0, 0,.50) 10px 10px 10px ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: space-between;
    

}
.guessLine{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: .3vh solid rgb(148, 88, 140);
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 4vh;
}

.guess {
    background-color: rgb(50, 1, 50);
    box-shadow: rgb(0, 0, 0, .7) .3vh .3vh .5vh inset;
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 10px;
}

#userInput{
    border-top: .7vh solid rgb(148, 88, 140);
    border-bottom: .7vh solid rgb(148, 88, 140);
    margin-bottom: 1.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(44, 44, 51);
}

.userButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: green;
}

.solNumber{
    width: 1vh;
}

.evaluation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row1{
    display: flex;

}
.row2{
    display: flex;
}

.evalSpot{
    border: rgb(128, 127, 127) 1px solid;
    width: .5vh;
    height: .5vh;
    border-radius: .5vh;
    margin : .5vh;
}

h1, h4, h5{
    color: rgb(227, 227, 227);
    font-family:'Oswald';

}

.header, .submitClass{
    display:flex;
    justify-content: center;
    align-items: center;
}

#submitGuess, button {
    margin-bottom: 2vh;
    background-color:rgb(227, 227, 227) ;
    border: rgb(111, 44, 111) 3px solid;
    color: purple;
    font-family: 'Oswald';
    font-size: 1.7vh;
    width: 10vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.bottom .evalSpot{
    visibility: hidden;

}

.guessInput{
    width: 2vh;
    height: 2vh;
    border-radius: 5vmin;
}

h1{
    font-size: 3vh;
}

h4{
    font-size: 1.5vh;
}
h5{
    font-size: 1vh;
}

h2{
    color: grey;
    font-size: 2vh;
    margin: none
}

#gameResult{
    font-size: 3vh;
}

#gameResult2{
    font-size: 2.5vh;
    color: grey;
}

.solution{
    visibility: hidden;
    height: 4vmin;
    padding: none;
    background-color: #d490c7;
}
.gameEnd{
    position: absolute;
    width: 40vh;
    max-width: 90vw;
    height: 25vh;
    background-color: rgb(253, 243, 251);
    background: linear-gradient(rgb(236, 224, 238), rgb(203, 178, 197));
    color: rgb(99, 32, 99);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vmin;
    padding: 2vh;
    border: rgb(94, 92, 94) solid .6vh;
    box-shadow: rgb(0, 0, 0,.50) 10px 10px 10px ;
    line-height: 30%;
}

.buttonsLine{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.endButton{
    width: 30vh;
}


.resetBtn{
    display: none;
    justify-content: center;
    align-items: center;

}
